<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="font-['helvetica_now_display']">
    <nav class="w-full flex justify-between px-5 py-3">
        <h3 class="text-xl font-mono font-bold text-violet-700">Lavendish</h3>
        <% var loggedin = typeof loggedin !== "undefined" ? loggedin : true %>
        <% var isAdmin = typeof isAdmin !== "undefined" ? isAdmin : false %>
        <% if(loggedin){ %>
            <% if(!isAdmin){ %>
            <div class="flex gap-5">
                <a href="/shop">Shop</a>
                <a href="/cart">Cart</a>
                <!-- <a href="">My Account</a> -->
                <a class="text-red-600" href="users/logout">Logout</a>
            </div>
            <% } else { %>
                <div class="flex gap-5">
                    <a href="/owners/admin">Create Products</a>
                    <a href="/owners/myaccount">My Account</a>
                    <a class="text-red-600" href="/logout">Logout</a>
                </div>
            <% } } %>
        <% if(!loggedin){ %>
            <% if(!isAdmin){ %>
            <div>
                <a class="flex items-center gap-2" href="/owners">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 1 0-7.5 0v4.5m11.356-1.993 1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 0 1-1.12-1.243l1.264-12A1.125 1.125 0 0 1 5.513 7.5h12.974c.576 0 1.059.435 1.119 1.007ZM8.625 10.5a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm7.5 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
                    </svg>
                    <h4 class="font-sm hover:text-violet-700">Start Selling</h4>
                </a>
            </div>
            <% }else{ %> 
                <div class="flex gap-5">
                    <a class="text-red-600" href="/">Return</a>
                </div>
           <% } } %>

    </nav>